body {
background-color: #483D8B;

font-family: 'Roboto', sans-serif;
}
#intro{
 width:40%;
 background-color:white;
 border:4px black;
 border-radius:2px;
 padding-bottom:10px;
}
footer{
  text-align: bottom;
  width:40%;
  background-color:green;
  border:4px;
  border-radius:2px;
  padding-bottom:10px;
}
}
